aside{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-transform: none; 
    margin: 5px 20px 0px 20px;
    background-color: $color;
    padding-left: 200px;
    padding-right: 200px;
    h3{
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        text-transform: none; 
        margin: 20px;
        padding: 10px;
    }
}
